a {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: pink;
    border-style: solid;
    border-color: #3333cc;
    padding: 3px;
    background-color: #6600cc;
    text-decoration: none;
 }
.navbar_container {
   /* background-color: #0066cc; */
   height: 45px;
}
 h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
 }
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
 
 
 p {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: pink;
 }
 body {
    background-color: #000080
 }
 h3 {
    color: #ff8fc1;
    font-size: 22px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
 }
 
 h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
 }

.Answers {
   margin-bottom: 2px;
}
 .accordion {
   background-color: #008040;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 75%;
   text-align: center;
   border: none;
   outline: none;
   transition: 0.4s;
   color: #ff8fc1;
   font-size: 22px;
   font-family:'Courier New', Courier, monospace;
   margin: auto;
   font-weight: bold;
 }

 .active, .accordion:hover {
   background-color:rgb(204, 204, 204)6ff;
   margin-left: auto;
   margin-right: auto;
 }
 .panel {
   padding: 0 18px;
   background-color: #006600;
   display: none;
   overflow: hidden;
   width: 75%;
   margin-left: auto;
   margin-right: auto;
 }
 .container{
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   width: 100%;
   }
